.grad {
  background-image: linear-gradient(#f87e2c, #fb7e2a, #e06314);

  font-family: "Raleway";

  color: rgb(255, 255, 255);

  line-height: 1.308;

  text-align: left;
}
header {
  background-image: url("../images/hero-background.jpg");
}
hr {
  height: 100vh;
}
